<style>
  /* Wrapper styles */
  .l-wrapper-view {
    background-color: var(--color-beta-background);
    width: 100%;
    display: flex;
  }

  .c-record-list {
    min-width: 330px;
    height: 100vh;
    background: var(--color-beta-surface-nav);
    border-right: 1px solid var(--color-beta-on-surface_border);
    overflow: scroll
  }

  .c-record-list-item {
    cursor: pointer;
    background: var(--color-beta-surface-nav);
    border-bottom: 1px solid var(--color-beta-on-surface_border);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 14px 30px;
    position: relative;
  }

  /* Use this class to show selected color */
  .c-record-list-item--selected:before {
    content: '';
    width: 4px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--color-beta-info);
    position: absolute;
    top: 0;
    left: 0;
  }

  .c-record-list-item__info {
    color: var(--color-beta-on-surface-nav_light);
  }

  .l-record-list-item-info-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 2px 0;
  }

  .c-record-list-item__info-title {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0;
    margin-left: 4px;
  }

  .c-record-list-item__info-label {
    font-size: 10px;
    text-transform: uppercase;
  }

  .c-record-list-item__info-value {
    font-size: 10px;
    margin-left: 4px;
  }

  .c-record-list-item__date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-beta-on-surface-nav_light);
    font-size: 10px;
    padding: 2px 0;
  }

  /* Card styles */
  .c-record-card {
    width: 100%;
    margin: 30px;
    background: var(--color-beta-surface);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
  }

  .l-record-card-header {
    padding: 0;
    margin-bottom: 40px;
  }

  .c-record-card__title {
    margin: 0;
    padding: 0;
    color: var(--color-beta-on-surface_dark);
  }

  .c-record-card__subtitle {
    margin: 0;
    padding: 0;
    color: var(--color-beta-on-surface_medium);
  }

  .l-record-card-body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .c-record-card-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    color: var(--color-beta-on-surface_medium);
  }

  .c-record-card-info__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 50px;
  }

  .c-record-card-info__picture {
    width: 42px;
    margin: 0 10px;
  }

  .c-record-card-info__description {
    font-size: 12px;
    margin: 0;
    height: 50px;
  }

  .c-record-card-info__product, .c-record-card-info__customer {
    max-width: 370px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .c-record-card-progress-bar {
    background-color: var(--color-beta-secondary-disabled);
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
  }

  .c-record-card-progress-bar__active {
    background: var(--color-beta-active);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 30px;
    transition: all 900ms ease;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
  }

  .c-record-card-progress-bar__active--one {
    width: 30px;
    transition: all 900ms ease;
  }

  .c-record-card-progress-bar__active--two {
    width: 39%;
    transition: all 900ms ease;
  }

  .c-record-card-progress-bar__active--three {
    width: 65%;
    transition: all 900ms ease;
  }

  .c-record-card-progress-bar__active--four {
    width: 100%;
    transition: all 900ms ease;
  }

  .c-record-card-progress-bar__active--four::after {
    content: 'DELIVERED';
    position: absolute;
    top: -60%;
    right: 0;
    transition: all 900ms ease;
    font-size: 12px;
    color: var(--color-beta-on-surface_light);
  }

  .c-record-card-progress-bar__active::before {
    content: '';
    background-color: var(--color-beta-success);
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  .c-record-card-progress-info {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  .c-record-card-progress-info__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    color: var(--color-beta-on-surface_disabled);
  }

  .c-record-card-progress-info__step--first {
    align-items: flex-start;
  }

  .c-record-card-progress-info__step--last {
    align-items: flex-end;
  }

  .c-record-card-progress-info__step--active {
    color: var(--color-beta-active);
  }
</style>

<div class="l-wrapper-view">
  <div class="c-record-list">
    {{#each records as |record|}}
      <div
        class="c-record-list-item {{if (eq currentRecord record) 'c-record-list-item--selected'}}"
        role="button"
        {{action 'selectRecord' record}}
      >
        <div class="c-record-list-item__info">
          <div class="l-record-list-item-info-line">
            <span class="c-record-list-item__info-label">to : </span>
            <h3 class="c-record-list-item__info-title">
              {{record.forest-customer.forest-firstname}} {{record.forest-customer.forest-lastname}}
            </h3>
          </div>
          <div class="l-record-list-item-info-line">
            <span class="c-record-list-item__info-label">order ID : </span>
            <span class="c-record-list-item__info-value">{{record.id}}</span>
          </div>
          <div class="l-record-list-item-info-line">
            <span class="c-record-list-item__info-label">status : </span>
            <span class="c-record-list-item__info-value">{{record.forest-shipping_status}}</span>
          </div>
        </div>
        <div class="c-record-list-item__date">
          {{moment-format record.forest-created_at 'LLL'}}
        </div>
      </div>
    {{/each}}
  </div>

  <div class="c-record-card">
    <div class="l-record-card-header">
      <h2 class="c-record-card__title">
        Order to {{currentRecord.forest-customer.forest-firstname}} {{currentRecord.forest-customer.forest-lastname}}
      </h2>
      <small class="c-record-card__subtitle">ID: {{currentRecord.id}}</small>
    </div>
    <div class="l-record-card-body">
      <div class="c-record-card-info">
        <div class="c-record-card-info__wrapper">
          <img src={{currentRecord.forest-product.forest-picture}} class="c-record-card-info__picture">
          <div class="c-record-card-info__description">
            <p class="c-record-card-info__product">Product: {{currentRecord.forest-product.forest-label}}</p>
            <p class="c-record-card-info__customer">Customer: {{currentRecord.forest-customer.forest-firstname}}
              {{currentRecord.forest-customer.forest-lastname}}
            </p>
          </div>
        </div>
      </div>
      <div class="c-record-card-progress-bar">
        <!-- use class 'full' to show full bar with order delivered -->
        <div class="c-record-card-progress-bar__active c-record-card-progress-bar__active--{{status}}"></div>
      </div>
      <div class="c-record-card-progress-info">
        <div class="c-record-card-progress-info__step c-record-card-progress-info__step--first c-record-card-progress-info__step--active">
          <p class="c-record-card-progress-info__step-state">Being processed</p>
          <p class="c-record-card-progress-info__step-date">{{moment-format currentRecord.forest-being_processed_at 'LLL'}}</p>
        </div>
        <div class="c-record-card-progress-info__step {{if currentRecord.forest-ready_for_shipping_at 'c-record-card-progress-info__step--active'}}">
          <p class="c-record-card-progress-info__step-state">Ready for shipping</p>
          {{#if currentRecord.forest-ready_for_shipping_at}}
            <p class="c-record-card-progress-info__step-date">{{moment-format currentRecord.forest-ready_for_shipping_at 'LLL'}}</p>
          {{/if}}
        </div>
        <div class="c-record-card-progress-info__step {{if currentRecord.forest-in_transit_at 'c-record-card-progress-info__step--active'}}">
          <p class="c-record-card-progress-info__step-state">In transit</p>
          {{#if currentRecord.forest-in_transit_at}}
            <p class="c-record-card-progress-info__step-date">{{moment-format currentRecord.forest-in_transit_at 'LLL'}}</p>
          {{/if}}
        </div>
        <div class="c-record-card-progress-info__step c-record-card-progress-info__step--last {{if currentRecord.forest-shipped_at 'c-record-card-progress-info__step--active'}}">
          <p class="c-record-card-progress-info__step-state">Shipped</p>
          {{#if currentRecord.forest-shipped_at}}
            <p class="c-record-card-progress-info__step-date">{{moment-format currentRecord.forest-shipped_at 'LLL'}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
